global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - "alert_rules.yml"

scrape_configs:
  - job_name: "dgate"
    static_configs:
      - targets: ["dgate:8000"]
    metrics_path: "/metrics"
